body {
    font-family: Planet Comic;
    background-image: url('img/Fondo2.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#pantalla-inicial {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 60px 0;
}

.btn {
    font-family: Planet Comic;
    margin-top: 200px;
    margin-bottom: 20px;
    border: none;
    background: #580078;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
}

    .btn:hover {
        transform: scale(1.1);
    }

#pantalla-juego {
    display: none;
}

.pantalla-juego {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

    .pantalla-juego img {
        max-width: 500px;
        width: 100%;
    }

#pantalla-final {
    display: none;
    text-align: center;
}

    #pantalla-final #numCorrectas {
        background-color: chartreuse;
        padding: 3px;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #fff;
    }

    #pantalla-final #numIncorrectas {
        padding: 20px;
        background-color: darkred;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #fff;
    }

h1 {
    width: fit-content;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 60px;
    box-shadow: 5px 5px 0 #000;
    padding: 20px 30px;
}

footer {
    position: relative;
    /* Cambiar de absolute a relative */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

/* Elimina la clase .opciones y modifica la clase .opcion como sigue: */
.opcion {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 400px;
    margin: 30px auto;
    cursor: pointer;
}

    .opcion .letra {
        background-color: #f8cf39;
        width: 50px;
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #f89d0e;
        text-align: center;
        border-radius: 50%;
        line-height: 50px; /* Ajusta el valor del line-height para centrar verticalmente */
        border: 3px solid #f8cf39;
        position: relative;
    }

    .opcion .alternativa {
        background: #fff;
        width: 100%;
        font-size: 25px;
        position: absolute;
        margin-left: 30px;
        z-index: -2;
        border-radius: 0 20px 20px 0;
        padding: 7px 0 7px 0 30px;
    }

    /* estilo que se aplicará cuando haya acertado la respuesta correcta */
    .opcion .alternativaAcertada {
        background-color: yellowgreen;
        color: #fff;
    }

    .opcion .letraAcertada {
        background-color: yellowgreen;
        color: #fff;
    }

    /*  estilo cuando se haya equivocado la respuesta */
    .opcion .alternativaNoAcertada {
        background-color: darkred;
        color: #fff;
    }

    .opcion .letraNoAcertada {
        background-color: darkred;
        color: #fff;
    }
